*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body{
    background-color: #101010;
    color: #f0f0f0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

section{
    --amount-of-columns: 0;
    --amount-of-rows: 0;
    display: grid;
    grid-template-columns: repeat(var(--amount-of-columns), 1fr);
    border: 1px solid rgb(255, 255, 255, 0.2);
}
section>div{
    width: 10px;
    background-color: #f0f0f0;
    border-radius: 50%;
    aspect-ratio: 1;
    transform:rotate(45deg) rotateY(180deg);
    backface-visibility: hidden;
    transition: all 100ms linear;
}
section>div.on 
{ 
    transform:rotate(45deg) rotateY(0deg);
}
video{
    display: none;
    width: 640px;
    height: 360px;
    border: #ff0000 solid 5px;
}
canvas{
    width: 640px;
    height: 360px;
    border: #04ff00 solid 5px;
}